.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  margin-top: 175px;
  font-family: 'Titillium Web';
  zoom: 0.8;
}

.feed-row {
  display: flex;
  flex-direction: row;
}

.feedItem {
  display: flex;
  margin-bottom: 40px;
  margin-left: 20px;
  width: 445px;
  height: 245px;
}

@keyframes fadeInFromBottom {
  0% { transform: translateY(50px); opacity: 0 }
  100% { transform: translateY(0); opacity: 1 }
}

.storyInfo {
  position: absolute;
  width: 405px;
  height: 205px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 100;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.feedItem:hover .storyInfo {
  visibility: visible;
  cursor: pointer;
}

.feedItem .imageContainer {
  display: flex;
  z-index: 90;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right:auto;
  width: 445px;
  height: 245px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.feedItem img {
  width: 450px;
}

.description h2 {
  font-size: 22px;
  font-weight: 100;
  font-family: 'PT Sans';
  color: white;
  max-width: 290px;
}

.description span {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
  color: white;
  max-width: 250px;
}

.feedItem .author {
  font-size: 16px;
  text-align: right;
}

.author .date {
  display: inline;
  font-size: 16px;
  width: 87px;
  margin-top: 7px;
  color: white;
  margin-left: auto;
}
