.feed {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 1000px;
  margin: 0 auto;
  margin-top: 175px;
  font-family: 'Titillium Web';
  zoom: 0.9;
}

.feedItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 850px;
  height: 570px;
}

@keyframes fadeInFromBottom {
  0% { transform: translateY(50px); opacity: 0 }
  100% { transform: translateY(0); opacity: 1 }
}

.storyInfo {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feedItem .description {
  position: static;
}

.feedItem .imageContainer {
  display: flex;
  z-index: 100;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right:auto;
  width: 850px;
  height: 430px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.feedItem img {
  width: 870px;
}

.feedItem .author {
  font-size: 20px;
  text-align: right;
}

.description h2 {
  font-size: 28px;
  font-weight: 100;
  font-family: 'PT Sans';
  color: black;
  max-width: 450px;
}

.description span {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
  color: black;
  max-width: 600px;
}

.author .date {
  font-size: 16px;
  width: 87px;
  margin-top: 7px;
  display: block;
  margin-left: auto;
}
