// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal {
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  width: 300px;
  height: 200px;
  border: 3px solid black;
}
