// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(150, 150, 150, 0.5);
  width: 100%;
  height: 100%;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  z-index: 2000;
}

.modal {
  margin: auto;
  margin-top: 50px;
  padding: 30px;
  padding-left: 45px;
  padding-right: 45px;
  width: 200px;
  border: none;
  background-color: white;
  opacity: 1;
  border-radius: 10px;
  overflow: auto;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  animation-name: fromBottom;
  animation-duration: 0.75s;
  z-index: 2000;
  zoom: 1.2;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fromBottom {
  0% {transform: translateY(100px) }
  100% {transform: translateY(0) }
}

.modal:focus {
  outline: none;
}

.modal h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.9em;
  color: rgb(50, 100, 255);
  font-family: 'Megrim', cursive;
  font-weight: 700;
}

.modal label, .modal input, .modal .link {
  display: block;
  margin: auto;
  margin-top: 3px;
}

.modal input {
  width: 95%;
  border-radius: 5px;
  border: 2px solid lightgrey;
  padding: 4px;
  font-size: 16px;
}

.modal label {
  font-size: 16px;
}

.modal .link, .modal a {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.modal input:focus {
  outline: none;
  border: 2px solid rgb(50, 245, 170);
}

.errors {
  color: red;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}

.errors li {
  margin-bottom: 7px;
}

.footnote {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.footnote, .footnote .link, .footnote a {
  display: inline-block;
  text-align: center;
  font-size: 15px;
}
