.storyForm {
  width: 700px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: bold;
  zoom: 1;
}

.storyForm a {
  position: relative;
  left: -57px;
  top: 8px;
}

.storyForm .errors {
  font-size: 20px;
  margin-top: 20px;
}

.storyForm h1 {
  font-family: "PT Sans";
  text-align: center;
  margin-top: 20px;
}

.storyForm .imgUpload p {
  height: 22px;
  font-size: 18px;
  text-align: right;
}

.storyForm .imgPreview img {
  display: block;
  margin-bottom: 10px;
  margin-right: auto;
  width: 700px;
}

.storyForm input {
  width: 660px;
  height: 35px;
  font-size: 20px;
  font-family: Georgia, 'PT Serif', serif;
  padding: 0;
  border: 2px solid white;
}

.storyForm .title input {
  font-family: 'PT Sans';
  margin-top: 20px;
  margin-bottom: 1px;
  max-width: 845px;
  height: auto;
  font-size: 41px;
  font-weight: bold;
  text-align: left;
  color: #333;
}

.storyForm .description input {
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  text-align: left;
  color: #999;
  font-weight: 600;
  margin-bottom: 15px;
}

.storyForm body {
  position: relative;
  top: -5px;
  font-family: Georgia, 'PT Serif', serif;
  color: #333;
}

.storyForm textarea {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  width: 660px;
  height: 310px;
  font-family: Georgia, 'PT Serif', serif;
  font-size: 20px;
  color: #333;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

.storyForm .ql-container {
  width: 700px;
  min-height: 310px;
}

.ql-editor p {
  font-family: Georgia, 'PT Serif', serif;
  font-size: 20px;
  font-weight: normal;
}

.storyForm input:focus {
  outline: none;
  border-bottom: 2px solid rgb(50, 245, 170);
}

.storyForm textarea:focus {
  outline: none;
  border: 2px solid rgb(50, 245, 170);
}

.storyForm .link {
  font-size: 22px;
  display: block;
  text-align: right;
}

.storyForm .publishLink {
  font-size: 20px;
}
