// Place all the styles related to the Api::Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.feed {
  width: 1000px;
  margin: 0 auto;
  margin-top: 75px;
  font-family: 'Titillium Web';
}

.feedItem {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-left: 75px;
  width: 850px;
  height: 570px;
}

@keyframes fadeInFromBottom {
  0% { transform: translateY(50px); opacity: 0 }
  100% { transform: translateY(0); opacity: 1 }
}

.storyInfo {
  margin-top: 420px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feedItem .description {
  position: static;
}

.feedItem .imageContainer {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right:auto;
  width: 850px;
  height: 430px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

.feedItem img {
  width: 875px;
}

.feedItem .author {
  font-size: 20px;
  text-align: right;
}

.description h2 {
  font-size: 28px;
  font-weight: 100;
  font-family: 'PT Sans';
  color: black;
  max-width: 450px;
}

.description span {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  color: black;
  max-width: 600px;
}

.author .date {
  font-size: 16px;
  width: 87px;
  margin-top: 7px;
  display: block;
  margin-left: auto;
}

.story {
  width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  font-size: 20px;
}

.back {
  position: relative;
  top: -12px;
  left: 100px;
  font-weight: bold;
}

.story h1 {
  font-family: 'PT Sans';
  margin: 0 auto;
  margin-top: 20px;
  max-width: 800px;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.story h3 {
  margin-top: 30px;
  padding-bottom: 20px;
  font-family: 'Georgia';
  font-size: 28px;
  text-align: center;
  color: #aaa;
  font-weight: 100;
}

.story .body {
  padding-top: 20px;
  font-family: 'Georgia';
  color: #555;
}

.story .imageContainer {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right:auto;
  width: 850px;
  height: 430px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.story img {
  display: block;
  margin: 0 auto;
  width: 850px;
}

.story .dummyImg {
  height: 430px;
}

.story .authorWidget {
  margin-top: 20px;
  margin-bottom: 35px;
  font-family: "Titillium Web";
  font-size: 24px;
  text-align: center;
}

.story figure {
  margin-top: 30px;
  margin-bottom: 40px;
}

.story p, .story span {
  width: 700px;
  margin: 0 auto;
  font-size: 24px;
}

.story .body {
  margin-top: 40px;
  margin-bottom: 60px;
}
