/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   zoom: 0.9;
   font-family: 'Titillium Web', sans-serif;
   font-weight: 100;
   background-color: white;
 }

 h2 {
   font-weight: normal;
 }

 a, .link {
   color: rgb(50, 100, 255);
   text-decoration: none;
   font-weight: bold;
 }

 a:hover, .link:hover {
   color: rgb(50, 235, 160);
   cursor: pointer;
 }

 a:focus, .link:focus {
   outline: none;
 }

 button {
   margin-right: 10px;
   padding-top: 1px;
   padding-bottom: 1px;
   padding-left: 10px;
   padding-right: 10px;
   border: 1px solid rgb(50, 100, 255);
   border-radius: 5px;
   color: rgb(50, 100, 255);
   background: none;
   font-family: 'Titillium Web';
   font-size: 18px;
   font-weight: bold;
   zoom: 0.9;
 }

 button:hover {
   border-color: rgb(50, 235, 160);
   color: rgb(50, 235, 160);
   cursor: pointer;
 }

 button:active {
   background-color: rgb(220, 255, 245);
 }

 button:focus {
   outline: none;
 }

 ::selection {
   background-color: rgb(50, 235, 160);
   color: black;
 }

 .hidden {
   display: none;
 }
