// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
}

header h1 {
  font-size: 1.5em;
  color: rgb(50, 100, 255);
  // font-family: 'Titillium Web', sans-serif;
  font-family: 'Megrim', cursive;
  font-weight: 100;
}

a {
  font-weight: 100;
  color: rgb(50, 100, 255);
  text-decoration: none;
  margin-left: 5px;
}

a:hover {
  color: rgb(50, 200, 100);
}
