body {
  background-color: white;
}

.outerNav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

header {
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
}

header h1 {
  font-size: 3em;
  color: rgb(50, 100, 255);
  font-family: 'Megrim', 'Titillium Web', sans-serif;
  font-weight: 700;
}

.greeting {
  font-size: 20px;
  font-weight: bold;
}

.login-signup .link {
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
}

.logo:hover {
  color: rgb(50, 235, 160);
}

.greeting span {
  margin-right: 10px;
}

.greeting a {
  margin-left: 30px;
}

.write-story {
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
  color: grey;
}

.write-story:hover {
  color: black;
  cursor: pointer;
}

.write-story:focus {
  outline: none;
}
