// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgb(250, 250, 250)
}

.outerNav {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

header {
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
}

header h1 {
  font-size: 1.75em;
  color: rgb(50, 100, 255);
  font-family: 'Megrim', 'Titillium Web', sans-serif;
  font-weight: 100;
}

.login-signup .link {
  margin-left: 15px;
  font-size: 18px;
}

.logo:hover {
  color: rgb(50, 235, 160);
}

.greeting span {
  margin-right: 20px;
}
